{{ $config := .Site.Data.config }}
<section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
  <div class="container">
      <h2 class="heading mb-3">Contact</h2>

      <div class="text-success my-3">
        {{ $config.message }}
      </div>

      <form data-netlify="true" method="post">
        <div class="form-row">
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" name="_replyto" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea placeholder="Message" name="message" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
  </div>
</section>
