{{ $services := .Site.Data.services }}

<section class="sandy">
  <h2 class="heading">{{ $services.title }}</h2>

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $services.services }}

    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        <i class="mt-3  fa fa-{{ $element.icon }} fa-3x"></i>
        <h5 class="mt-4">{{ $element.title }}</h5>
        <p class="text-muted">{{ $element.description }}</p>
        <p>   <a href="{{ $element.link }}" class="btn btn-dark btn-lg">Visit</a></p>
      </div>
    </div>

    {{ end }}
  </div>
</section>
