{{ $skills := .Site.Data.skills }}

<section id="skills" class="bismark text-light">
  <h2 class="heading">{{ $skills.title }}</h2>

  {{ range $key, $value := $skills.skills }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}
</section>
